<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Would you rather?</title>
</head>
<body>
    <form action="{% url 'scenario:vote' scenario.id %}" method="post">
    
        {% csrf_token %}
    
        <fieldset>
            <button>
                <!-- 
                The button that's gonna have scenario 1
                -->
    
            </button>
    
    
            <button>
                <!-- 
                The button that's gonna have scenario 2
                -->
    
            </button>
    
        </fieldset>
    
    </form>
    
    <footer>
        <p>&copy; 2026 Matthew Chihata</p>
    </footer>
</body>
</html>